@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-700.woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-900.woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    background-color: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.company-logo {
    width: 137px;
    margin-right: 16px;
    margin-top: 24px;
}

/* Заголовки */
.title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
} 


/* Навигация */
.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 42px;
    width: 553px;
    list-style: none;
    
}

.navigation-list.user-navigation-list {
    width: 500px;
    margin-left: auto;
}

.navigation-link {
    display: block;
    padding: 8px 16px;
    line-height: 20px;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

.user-navigtion-list .navigation-link {
    min-width: 32px;
    min-height: 32px;
}

.navigation-item .sign-in {
    font-size: 14px;
}

.navigation-link.telephone {
    font-weight: 700;
}


.page-container {
    width: 1170px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
    padding-top: 21px;
}

/* Кнопки */
.button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    width: 139;
    height: 44px;
    border: 4px solid #ffc1d1;
    box-shadow: 0px 4px 12px #2D34401A;
    border-radius: 26px;
    
}

.order-button {
    background-color: #FCFCFC;
    color: #2D3440;
}

.send-button,
.callback-button {
    background-color: #FF2F64;
    color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}


/* Слайдер */

.catalog-gallery {
    display: flex;
    align-content: center;
}

.gallery-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.gallery-card {
    margin-left: 70px;

}

.gallery-card-link {
    text-decoration: none;
    color:#2D3440
}

.gallery-title {
    width: 470px;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin-top: 136px;
    margin-bottom: 24px;
}

.card-description {
    font-size: 18px;
    line-height: 24px;
    width: 414px;
    margin-top: 0;
    margin-bottom: 48px;
    padding-right: 40px;
}

.slider-controls {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-right: 51px;

}

.slider-image {
    align-self: center;
}
    
.next-image {
    margin-right: 31px;
}

/* Пагинация и соцсети */

.pagination-social-links-container {
    display: flex;
    width: 1170;
    justify-content: space-between;
    margin-bottom: 80px;
}

.slider-pagination-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slider-pagination-item {
    margin-right: 8px;
}

.slider-pagination-list:last-child {
    margin: 0;
}

.slider-pagination-button,
.slider-pagination-button-current {
width: 12px; 
height: 12px;
background: #FCFCFC;
border-radius: 50%;
border: none;
}

.slider-pagination-button-next {
    opacity: 0.3;
}

/* Социальные сети */

.social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 104px;
    list-style-type: ;
}

.social-item {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.social-item:nth-child(3n) {
    margin: 0;
}

/* Подарки */

.presents-list {
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.present-item {
    background-color: #FF7799;
    background-repeat: no-repeat;
    width: 570px;
    height: 268px;
    border-radius: 16px;
    list-style: none;
}

.item-1 {
    background-image: url("../images/presents/item_1.png");
    background-position-x: 374px;
    background-position-y: 28px;
}

.item-2 {
    background-image: url("../images/presents/item_2.png");
    background-position-x: 331px;
    background-position-y: 19px;
}

.presents-title {
    margin: 0 auto;
    margin-bottom: 56px;
}

.present-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
    margin-left: 40px;
}

.present-description {
    margin-left: 40px;
    margin-bottom: 32px;
}

.item-1 .present-description {
    width: 321px;
}

.item-2 .present-description {
    width: 294px;
}

button.order-present {
    margin-left: 40px;
}


/* Самые популярные продукты */

.most-popular-products {
    margin-bottom: 80px;
}
.most-popular-products-title {
    margin: 0 auto;
    margin-bottom: 56px;
    
}

/* Список товаров */

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 30px;
    row-gap: 40px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}


/* Карточка товара */

 .product-card {
    background-color: #FCFCFC;
    border-radius: 8px;
    text-align: center;
    
} 

.product-card {
    display: grid;
    grid-template-columns: repeat(2 auto);
    grid-template-rows: repeat(3 auto);
    grid-template-areas: "image image"
                         "text text"
                         "price cart";
    grid-row-gap: 16px;
    width: 270px;                     
                         
}

.product-card-img {
    border-radius: 50%;
    grid-area: image;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;

}

.product-card-link {
    grid-area: text;
}

.product-card-price {
    grid-area: price;
    margin-right: auto;
    margin-left: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.add-to-cart-button {
    grid-area: cart;
    margin-left: auto;
    margin-right: 40px;
    padding-bottom: 24px;
    width: 32px;
    height; 32px;

}


.products-list, 
.most-popular-products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-card-link {
    color: #2D3440;
    text-decoration: none;
    margin-right: 40px;
    margin-left: 40px;
}

.product-card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.product-card-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #565C66 ;
    margin: 0;
    padding: 0;
}

/* Преимущества */

.advantages-container1 {
    background-image: url("../images/waffle_bg.jpg");
    width: 1170px;
    height: 480px;
    border-radius: 16px;
    border: 1px solid #FEAFC3;
    margin-bottom: 80px;
}

.advantages-container2 {
    width: 1122px;
    height: 432px;
    background-color: #FCFCFC;
    border-radius: 16px;
    margin-top: 24px;
    margin-left: 24px;
}
.advantage-1 {
    list-style-image: url("../images/icons/icecream_icon.svg");
}

.advantage-2 {
    list-style-image: url("../images/icons/cow_icon.svg");
}

.advantage-3 {
    list-style-image: url("../images/icons/leaf_icon.svg");
}

.advantage-4 {
    list-style-image: url("../images/icons/thermometer_icon.svg");
}

.advantages-title {
    margin: 0 auto;
    padding-top: 56px;
    padding-left: 63px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantages-list-item {
    width: 442px;
}



/* Новости */

.newsletter-container {
 display: flex;
 justify-content: space-between;
 margin-bottom: 80px;

}

.blog-news {
    background-image: url("../images/news_bg.jpg");
    background-repeat: no-repeat;
    width: 570px;
    border-radius: 16px;
}

.blog-news-title,
.newsletter-description {
    color: #565C66;
}

.blog-news-title {
    padding-left: 32px;
    padding-top: 32px;
}

.blog-news-link h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    padding-left: 32px;
    width: 303px;
}

.blog-news-link {
    text-decoration: none;
}


/* Подписка */

 .newsletter-container1 {
    background-image: url("../images/mail_bg.jpg");
    background-repeat: no-repeat;
    width: 570px;
    border-radius: 16px;
    border: 1px solid #FEAFC3;
} 

.newsletter-container2 {
    background-color: #FCFCFC;
    border-radius: 16px;
    width: 558px;
    height: 208px;
    margin: 6px;
}

.newsletter-description {
    margin: 0;
    width: 506px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
    margin-bottom: 42px;
}

.newsletter-email {
    display: inline;
    width: 332px;
    height: 48px;
}

.newsletter-form {
    padding-left: 26px;
    box-sizing: border-box;
    margin-right: 24px;
}

#newsletter-email{
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 160px;
    margin-right: 24px;
}

/* Доставка */

.delivery {
    background-image: url("../images/delivery_bg.jpg");
    background-repeat: no-repeat;
    width: 1170px;
    height: 534px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

/*Доставка - левый столбец */
.delivery-title {
    margin: 0;
    padding: 0;
    padding-top: 167px;
    padding-left: 100px;
    text-align: left;
}

.delivery-description {
    margin-left: 100px;
    width: 371px;
    
}

/* Доставка - правый столбец (форма  доставки) */

.delivery-info-container {
    background-color: #FCFCFC;
    width: 500px;
    height: 406px;
    border-radius: 8px;
    margin-right: 64px;
    margin-top: 64px;

}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 287px;
    grid-template-areas: "title title"
                         "data phone"
                         "address address"
                         "button button";
    column-gap: 16px;
    row-gap: 20px;
    padding: 40px;
    
}

.delivery-form-title {
    grid-area: title;
    margin: 0;
    margin-bottom: 12px;
    
}

.field-group {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.field-group input {
    padding: 14px 0px 14px 16px;
    box-sizing: border-box;
}

.field-group label {
    margin-bottom: 8px;
}

.delivery-form-date {
    grid-area: data;
}

.delivery-form-phone {
    grid-area: phone;

}

.delivery-form-address {
    grid-area: address;
    margin-bottom: 12px;
    
}

.send-button {
    grid-area: button;
    justify-self: start;
    margin: 0 auto;
}

.info {
    display: none;
}

.contacts {
    background-image: url("../images/contacts_bg.jpg");
    background-repeat: no-repeat;
    width: 1170px;
    height: 492px;
    border-radius: 16px;
    border: 1px solid #FEAFC3;
    
}

.contacts-container {
    background-color: #FCFCFC;
    width: 343px;
    height: 364px;
    border-radius: 8px;
    margin: 64px;
    
}

.contacts-card {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 32px;
    padding: 40px;
}

.contacts-address {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 24px;
    width: 263px;

}
.address-container {
    grid-column: 1/-1;
}

.contacts-address {
    font-style: normal;
}

.contacts-address-text,
.contacts-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.contacts-address p {
    margin: 0;
}

p.contacts-subtitle-address,
p.contacts-subtitle-phone {
    margin-bottom: 12px;
}

.callback-button {
justify-self: start;    
margin: 0;
}

a.button.callback-button {
    margin: 0;
    padding: 0;
}

/* Футер */

.footer {
    width: 1170px;
    height: 153px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.for-vendors-container {
    font-size: 14px;
    line-height: 20px;

}

h2 .for_vendors_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.for-vendors-list {
    list-style: none;
    
}

.for-vendors-link {
    text-decoration: none;
}

/* Хлебные крошки */

.breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    list-style-type: none;
}

.breadcrumbs-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    margin-right: 28px;
    margin-bottom: 16px;
}

.inner-header-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

/* Сортировка и фильтры */

.filter-container {

    font-size: 14px;
    line-height: 20px;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    width: 807px;
    margin-bottom: 48px;
}

.sorting-type-container,
.sorting-price-container {
    width: 196px;
    margin-right: 24px;
}

.sorting-fatness-container {
    width: 367px;
}

.sorting-topings-container {
    width: 596px;
}



/* Пагинация */
.multipage-pagination {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 126px;
    list-style: none;
}

.multipage-pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-left: auto;
    list-style-type: none;
}

.multipage-pagination-item {
    margin: 16px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    color: #2D3440;
    line-height: 20px;
    text-decoration: none;
    width: 24px;
    width: 24px;
    border-radius: 50px;
}

.pagination-current {
    background-color: #FCFCFC;
    
}

button.pagination-show-more {
    margin-left: 494px;
    padding: 12px 32px;
    
}