@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-700.woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-900.woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 22px;
    color: #2D3440;
    background-color: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .company-logo {
    width: 137px;
    margin-right: 16px;
    margin-top: 24px;
}
/* Навигация */
.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 34px;
    width: 553px;
    list-style: none;
    
}

.user-navigation-list {
    width: 550px;
    margin-left: auto;
    
    
}

.navigation-link {
    display: block;
    padding: 8px 16px;
    line-height: 20px;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

.user-navigtion-list .navigation-link {
    min-width: 32px;
    min-height: 32px;
}

.navigation-item .sign-in {
    size: 14px;
}
.navigation-link.telephone {
    font-weight: 700;
}



.page-container {
    width: 1170px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
    padding-top: 21px;
}

/* Кнопки */
.button {
    size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    width: 139;
    height: 44px;
    border: 4px solid #ffc1d1;
    box-shadow: 0px 4px 12px #2D34401A;
    border-radius: 26px;
    
}

.order-button {
    background-color: #FCFCFC;
    color: #2D3440;
}

.send-button {
    background-color: #FF2F64;
    color: #FCFCFC;
    
}


.callback-button {
    text-decoration: none;
    size: 16px;
    font-weight: 700;
    line-height: 20px;


}


/* Слайдер */

.catalog-gallery {
 display: flex;
}

.gallery-list {
    width: 470px;
}

.gallery-item-link {
    text-decoration: none;
    color:#2D3440
}
.gallery-title {
    font-weight: 900;
    size: 36px;
    line-height: 46px;
    margin-top: 136px;
    margin-bottom: 24px;
    margin-right: 70px;
}

.item-description {
    size: 18px;
    line-height: 24px;
}

.slider-pagination-button,
.slider-pagination-button-current {
width: 12px; 
height: 12px;
background: #FCFCFC;
border-radius: 50%;
border: none;
}

.slider-pagination-button-next {
    opacity: 0.3;
}

.title {
    font-weight: 900;
    size: 32px;
    line-height: 46px;
    text-align: center;
}

/* Социальные сети */

.social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 104px;
    list-style-type: ;
}

.social-item {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.social-item:nth-child(3n) {
    margin: 0;
}

/* Подарки */

.presents-list {
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.present-item {
    background-color: #FF7799;
    background-repeat: no-repeat;
    width: 570px;
    height: 268px;
    border-radius: 16px;
    list-style: none;
}

.item-1 {
    background-image: url("../images/presents/item_1.png");
    background-position-x: 374px;
    background-position-y: 28px;
}

.item-2 {
    background-image: url("../images/presents/item_2.png");
    background-position-x: 331px;
    background-position-y: 19px;
}

.presents-title {
    width: 443px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.present-item-title {
    font-weight: 700;
    size: 24px;
    line-height: 30px;
    margin-top: 40px;
    margin-left: 40px;
}

.present-description {
    margin-left: 40px;
    margin-bottom: 32px;
}

.item-1 .present-description {
    width: 321px;
}

.item-2 .present-description {
    width: 294px;
}

button.order-present {
    margin-left: 40px;
}


/* Самые популярные продукты */
.most-popular-products-title {
    margin: 0 auto;
    margin-bottom: 56px;
    width: 527px;
}

.most-popular-products-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.product-card {
    background-color: #FCFCFC;
    border-radius: 8px;
    width: 270px;
    height: 332px;
    margin-right: 30px;
    margin-bottom: 40px;
    text-align: center;
}

li.product-card:nth-child(4n) {
    margin-right: 0;
}

.product-card-img {
    border-radius: 50%;
}

.products-list, 
.most-popular-products-list {
    list-style: none;
}

.product-card-link {
    font-weight: 700;
    size: 20px;
    line-height: 24px;
    color: #2D3440;
    text-decoration: none;
}

.product-card-title {
    margin: 0;
}

.product-card-description {
    color: #565C66 ;
    margin: 0;
    padding: 0;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}


.product-card-text-container {
    width: 190px;
    height: 76px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 20px;
}

span.product-card-price {
    font-weight: 700;
    size: 20px;
    line-height: 24px;
    min-width: 85px;
    margin-left: 40px;
    margin-right: 73px;
    text-align: left;
}

.add-to-cart-button {
    width: 32px;
    height; 32px;
}


/* Преимущества */
.advantages-container1 {
    background-image: url("../images/waffle_bg.jpg");
    width: 1170px;
    height: 480px;
    border-radius: 16px;
    border: 1px solid #FEAFC3;
    margin-bottom: 80px;
}

.advantages-container2 {
    width: 1122px;
    height: 432px;
    background-color: #FCFCFC;
    border-radius: 16px;
    margin-top: 24px;
    margin-left: 24px;
}
.advantage-1 {
    list-style-image: url("../images/icons/icecream_icon.svg");
}

.advantage-2 {
    list-style-image: url("../images/icons/cow_icon.svg");
}

.advantage-3 {
    list-style-image: url("../images/icons/leaf_icon.svg");
}

.advantage-4 {
    list-style-image: url("../images/icons/thermometer_icon.svg");
}

.advantages-title {
    width: 995px;
    margin: 0 auto;
    margin-bottom: 56px;
    padding-left: 63px;
    padding-top: 56px;

}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantages-list-item {
    width: 442px;
}



/* Новости */
.newsletter-container {
 display: flex;
 justify-content: space-between;
 margin-bottom: 80px;

}

.blog-news {
    background-image: url("../images/news_bg.jpg");
    background-repeat: no-repeat;
    width: 570px;
    border-radius: 16px;
}

.blog-news-title,
.newsletter-description {
    color: #565C66;
}

.blog-news-title {
    padding-left: 32px;
    padding-top: 32px;
}

.blog-news-link h3 {
    font-weight: 700;
    size: 24px;
    line-height: 30px;
    color: #2D3440;
    padding-left: 32px;
    width: 303px;
}

.blog-news-link {
    text-decoration: none;
}


/* Подписка */
 .newsletter-container1 {
    background-image: url("../images/mail_bg.jpg");
    background-repeat: no-repeat;
    width: 570px;
    border-radius: 16px;
    border: 1px solid #FEAFC3;
    
    
} 

.newsletter-container2 {
    background-color: #FCFCFC;
    border-radius: 16px;
    width: 558px;
    height: 208px;
    margin: 6px;
}

.newsletter-description {
    margin: 0;
    width: 506px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
}

.newsletter-email {
    display: inline;
    width: 332px;
    height: 48px;
}

/* Доставка */
.delivery {
    background-image: url("../images/delivery_bg.jpg");
    background-repeat: no-repeat;
    width: 1170px;
    height: 534px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.delivery-form {
    background-color: #FCFCFC;
    width: 500px;
    height: 406px;
    border-radius: 8px;
    margin-right: 64px;
    margin-top: 64px;
}


.delivery-title {
    width: 356px;
    height: 92px;
    margin-top: 177px;
    margin-left: 100px;
    text-align: left;
}

.delivery-description {
    margin-left: 100px;
    width: 371px;
    height: 88px;
}

.delivery-form-title {
    width: 380px;
    height: 44px;
    padding-left: 40px;
    padding-top: 40px;
}


/* Контакты */
.contacts {
    background-image: url("../images/contacts_bg.jpg");
    background-repeat: no-repeat;
    width: 1170px;
    height: 492px;
    border-radius: 16px;
    
}

.contacts-container2 {
    background-color: #FCFCFC;
    width: 343px;
    height: 364px;
    border-radius: 8px;
    
}

.contacts-address {
    font-style: normal;
}

.contacts-address-text,
.contacts-phone {
    font-weight: 700;
    size: 20px;
    line-height: 24px;
}

.contacts-address p {
    margin: 0;
}

.contacts-subtitle-address {
    padding-top: 40px;
    padding-left: 40px;
}

.contacts-address p,
.contacts-address a,
.contacts-phone,
.contacts-phone-schedule,
.callback-button {
    padding-left: 40px;
}

/* Футер */

.footer {
    width: 1170px;
    height: 153px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.for-vendors-container {
    size: 14px;
    line-height: 20px;

}

h2 .for_vendors_title {
    font-weight: 700;
    size: 14px;
    line-height: 20px;
}

.for-vendors-list {
    list-style: none;
    
}

.for-vendors-link {
    text-decoration: none;
}

/* Хлебные крошки */
.breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
    size: 14px;
    line-height: 20px;
    list-style-type: none;
}

.breadcrumbs-link {
    font-weight: 700;
    size: 14px;
    line-height: 20px;
    color: #2D3440;
    margin-right: 28px;
    margin-bottom: 16px;
}

.inner-header-title {
    font-weight: 900;
    size: 32px;
    line-height: 46px;
}

/* Сортировка и фильтры */

.filter-container {

    size: 14px;
    line-height: 20px;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    width: 807px;
    margin-bottom: 48px;
}

.sorting-type-container,
.sorting-price-container {
    width: 196px;
    margin-right: 24px;
}

.sorting-fatness-container {
    width: 367px;
}

.sorting-topings-container {
    width: 596px;
}



/* Пагинация */
.multipage-pagination {
    width: 1170px;
    list-style: none;
    display: flex;
    align-items: baseline;
    margin-top: 17px;
    
}

.multipage-pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
}

.pagination-current {
    background-color: #FCFCFC;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
}
.pagination-link {
    display: block;
    box-sizing: border-box;
    color: #2D3440;
    line-height: 20px;
    text-decoration: none;
    padding: 8px;

}

button.pagination-show-more {
    margin-left: 494px;
    padding: 12px 32px;
    align-items: center;
}